<div class="main-container">
  <app-greeting (isFinished)="showWeathers()"></app-greeting>
  <div *ngIf="isGreetingFinished">
    <div @fade class="weather-container row">
      <div class="col mb-2" *ngFor="let city of cities">
        <app-city-weather
          [city]="city"
          [selectedCity]="selectedCity"
          (showForecasts)="showForecasts($event)"
          (tryAgain)="getWeather($event)"
        ></app-city-weather>
      </div>
    </div>
  </div>
  <app-forecast-group [city]="selectedCity"></app-forecast-group>
</div>
