<div
  class="greeting-text-container"
  [@greetingAnimation]="isGreetingInProgressFinished" (@greetingAnimation.done)="animationFinish($event)">
  <span class="greeting-text">{{greetingMessage}}</span>
  <hr *ngIf="isGreetingInProgressFinished === 'true'">
</div>
