<div class="forecast-container" *ngIf="componentReadyToShow" @fade>
  <div *ngIf="forecasts.hasError" class="error-container">
    <span class="alert alert-danger">
      {{forecasts.errorMessage}}
    </span>
  </div>
  <!--  If API for getting forecast of selected city success, then below Div appear-->
  <div *ngIf="!forecasts.isLoading && !forecasts.hasError">
    <!--    First divide days which is 4 and generate them as divs-->
    <div *ngFor="let groupDate of groupDates" [ngStyle]="getGroupStyle(groupDate)" class="forecast-day-container">
      <div class="forecast-header-container header-color" [id]="'forecasts_header_' + city.name">
        {{getDateByDayFormat(groupDate)}}
      </div>
      <!--      Then Load data for each particular day and with getItemStyle method one specific style return for each item-->
      <!--      ngClass is used to separate and change the color of selected item-->
      <div *ngFor="let dayForecast of getDayForecasts(groupDate)"
           class="forecast-item-container"
           [id]="'forecasts_content_' + city.name"
           [ngClass]="{'selectedItem': selectForecast === dayForecast}"
           [ngStyle]="getItemStyle(groupDate)"
           (click)="showForecastDetails(dayForecast)">
        <div class="text-center">
          <span class="group-time">
            {{dayForecast.dt_txt | date:'H:mm'}}
          </span>
          <!--Added height to image tag because if some pictures load with delay, the page wont break-->
          <img style="width: 70%;height: 5rem"
               [src]="'http://openweathermap.org/img/w/' + dayForecast.weather[0].icon + '.png'">

          <div>
            <span class="group-text">{{dayForecast.main.temp | number: '2.0-0'}}</span>
            <span class="detail-postFix">°C</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  If user select any of the forecasts, below div appear-->
  <div *ngIf="selectForecast" class="forecast-details-container">
    <div class="forecast-details-header header-color">
      {{selectForecast.dt_txt | date:"yyyy/MM/dd - HH:mm"}}
    </div>
    <div class="row">
      <div class="col-sm-4 ">
        <div class="forecast-details-section-header">
          <span>Temperature - Humidity</span>
        </div>
        <div>
          <table class="table table-hover">
            <tr>
              <td><span>Average:</span></td>
              <td><span>{{selectForecast.main.temp | number: '2.0-0'}}<span class="detail_postFix_span">°C</span></span>
              </td>
            </tr>
            <tr>
              <td><span>Minimum:</span></td>
              <td><span>{{selectForecast.main.temp_min| number: '2.0-0'}}<span
                class="detail_postFix_span">°C</span></span></td>
            </tr>
            <tr>
              <td><span>Maximum:</span></td>
              <td><span> {{selectForecast.main.temp_max| number: '2.0-0'}}<span
                class="detail_postFix_span">°C</span></span></td>
            </tr>
            <tr>
              <td><span>Humidity:</span></td>
              <td><span> {{selectForecast.main.humidity}}<span class="detail_postFix_span">%</span></span></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="forecast-details-section-header">
          <span>Wind</span>
        </div>
        <table class="table table-hover">
          <tr>
            <td><span>Speed:</span></td>
            <td><span> {{selectForecast.wind.speed | number: '2.0-1'}} <span class="detail_postFix_span">mps</span></span></td>
          </tr>
          <tr>
            <td><span>Degree:</span></td>
            <td><span> {{selectForecast.wind.deg}}</span></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4 ">
        <div class="forecast-details-section-header">
          <span>Cloud</span>
        </div>
        <div>
          <table class="table table-hover">
            <tr>
              <td><span>Cloudiness:</span></td>
              <td><span> {{selectForecast.clouds.all}} <span class="detail_postFix_span">%</span></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
