$selected-bg: #C5D2A4;

.forecast-container {
  margin-top: 5vh;
  width: 96%;
  margin-left: 2%;
}

.group-time {
  border-bottom: solid 1px gray !important;
}

.forecast-header-container {
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: .2rem 0;
}

.forecast-item-container {
  display: inline-block;
  background-color: #ECF1DF;
  border-right: solid 1px lightgray;
  padding: .5rem 0;
}

.forecast-item-container:hover:not(.selectedItem) {
  transition: 100ms;
  cursor: pointer;
  opacity: .8;
}

.selectedItem {
  background-color: $selected-bg;
}

.forecast-day-container {
  display: inline-block;
}

.group-text {
  font-size: .8rem;
}

.detail-postFix {
  font-size: .6rem;
}

.forecast-details-container {
  margin-top: 5vh;
  width: 50%;
  margin-left: 25%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 10px $selected-bg;
  background-color: $selected-bg;
}

.forecast-details-section-header {
  margin: 2vh;
  text-align: center;
}

.forecast-details-header {
  text-align: center;
  border-top-left-radius: 20px;
  padding: .3rem;
}

.forecast-loading-container {
  background: white;
  height: 2vh;
  padding: 1vh 1%;
  border-radius: 100px;
}

@media (max-width: 1000px) {
  .forecast-day-container {
    display: block;
    min-width: 10%;
    max-width: 100%;
    margin-top: 20px;
    width: max-content !important;
  }

  .forecast-details-container {
    margin-left: unset;
    width: 100%;
  }
}
