.weather-header-container {
  height: 3rem;
  width: 100%;
  border-top-left-radius: 10px;
  text-align: center;
  padding-top: 1rem;
}

.weather-header {
  font-size: 1.5rem;
}

.weather-loading-container {
  background-color: white;
  padding-top: 10vh;
}

.weather-body-container {
  background-color: white;
  border-bottom-right-radius: 10px;
  padding: .5rem;
  box-shadow: 5px 5px 5px #B7CE74;
}

.selected-city {
  transition: 1s;
  background-color: #ECF1DF;
}

.expression-prefix {
  font-size: 1rem;
}

.expression-postfix {
  margin-left: 5px;
  font-size: .8rem;
}

.weather-action-container {
  margin: 10px 5%;
  text-align: right;
}

.alert-danger {
  font-size: .5vw;
  padding: .5rem;
}
