<div class="weather-header-container header-color">
  <span class="weather-header" [id]="city.name">{{city.name}}</span>
</div>
<div *ngIf="city?.generalInformation?.isLoading" class="weather-loading-container">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<!--selected-city class is responsible to change color of selected city-->
<div *ngIf="!city?.generalInformation?.isLoading" class="weather-body-container"
     [ngClass]="{'selected-city': city === selectedCity}">
  <div class="error-container">
        <span class="alert alert-danger" *ngIf="city.generalInformation?.hasError">
      {{city.generalInformation.errorMessage}}
    </span>
  </div>
  <!--  If API for getting City information success then below div would be appear-->
  <div class="mt-2" *ngIf="!city?.generalInformation?.isLoading && !city.generalInformation?.hasError">
    <img [src]="'http://openweathermap.org/img/w/' + city.generalInformation?.data?.weather[0]?.icon + '.png'"
         style="float: right"
         [matTooltip]="city?.generalInformation?.data?.weather[0]?.description">
    <ul>
      <li>
        <span class="expression-prefix">Temperature: {{city?.generalInformation?.data?.main?.temp | number: '2.0-0'}}</span>
        <span class="expression-postfix">°C</span>
      </li>
      <li>
        <span class="expression-prefix">Wind speed: {{city?.generalInformation?.data?.wind?.speed}}</span>
        <span class="expression-postfix">mps</span>
      </li>
      <li>
          <span class="expression-prefix">
            Last update at {{city?.generalInformation?.data?.dt * 1000 | date:'EEE hh:mm a'}}
          </span>
      </li>
    </ul>
  </div>
  <hr>
  <div class="weather-action-container">
    <!--    This button appear only if getCity service of any city fail -->
    <button
      class="btn mr-1"
      (click)="tryAgain.emit(this.city)"
      *ngIf="city?.generalInformation?.hasError">
      Try again
    </button>
    <button
      [id]="'button_forecast_' + city.name"
      class="btn"
      (click)="showForecastsClick()"
      [disabled]="selectedCity === city || city?.generalInformation?.hasError">
      Forecast
    </button>
  </div>
</div>
