$background-menu: #5A5A5A;
$text-color-menu: #fff;
$body-bg: #ebebeb;
$btn-color: #759d01;
@import "~bootstrap/dist/css/bootstrap.css";

/* latin-ext */
@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v9/TwMA-IISS0AM3LpcUnQPTA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v9/TwMA-IISS0AM3LpSUnQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: "Tauri" !important;
  background-color: $body-bg;
}

html, body {
  height: 100%;
}

.header-color {
  background-color: $background-menu;
  color: $text-color-menu;
  span {
    color: $text-color-menu;
  }
}

.btn {
  color: $btn-color;
  border: solid 1px $btn-color;
}

.btn.disabled, .btn:disabled {
  color: gray;
  border: 1px solid gray;
}

.error-container {
  margin-top: 10px;
  text-align: center;
}
